<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <?include Variables.wxi ?>

  <Product Id="*" Name="$(var.ProductDisplayName)" Language="1033" Version="$(var.Version)" Manufacturer="$(var.Manufacturer)" UpgradeCode="$(var.ProductUpgradeCode)">
    <Package InstallerVersion="400" Compressed="yes" InstallScope="perMachine" InstallPrivileges="elevated" Manufacturer="$(var.Manufacturer)" />

    <MediaTemplate EmbedCab="yes" />

    <!-- Verifies that .NET 4.5 is installed prior to this installation -->
    <PropertyRef Id="NETFRAMEWORK45" />
    <Condition Message="This application requires .NET Framework 4.5. Please install the .NET Framework then run this installer again.">
      <![CDATA[Installed or NETFRAMEWORK45]]>
    </Condition>

    <!-- Adds a license file to the UI -->
    <?ifdef LicenseFile ?>
    <WixVariable Id="WixUILicenseRtf" Value="$(var.LicenseFile)" />
    <?endif ?>

    <UIRef Id="WixUI_Mondo" />

    <WixVariable Id="WixUIBannerBmp" Value="$(var.SEBInstallBannerFile)" />
    <WixVariable Id="WixUIDialogBmp" Value="$(var.SEBInstallDialogFile)" />

    <!-- This is the icon that appears in the Install/Uninstall/Programs and Features list -->
    <Icon Id="ApplicationIcon" SourceFile="$(var.SEBInstallIconFile)" />
    <Icon Id="SebDocumentIcon" SourceFile="$(var.SEBDocumentIconFile)" />

    <Property Id="ARPPRODUCTICON" Value="ApplicationIcon" />
    <Property Id="ARPURLINFOABOUT" Value="www.safeexambrowser.org" />
    <Property Id="ARPURLUPDATEINFO" Value="www.safeexambrowser.org/download" />
    <Property Id="ARPHELPLINK" Value="www.safeexambrowser.org/support" />

    <MajorUpgrade DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit." />

    <Feature Id="AlwaysInstall" Title="$(var.ProductDisplayName)" Level="1" Description="$(var.ProductDisplayName)" InstallDefault="local" Absent="disallow" Display="expand" AllowAdvertise="no">
      <ComponentGroupRef Id="Application" />
      <ComponentGroupRef Id="Resources" />
      <ComponentGroupRef Id="WindowsServiceWCF" />
      <ComponentGroupRef Id="ProgramData" />
      <!-- The xul components were auto generated via heat:
        In the solution directory:
          "%WIX%\bin\heat" dir "SebWindowsBrowser" -out "WixInstaller\SebWindowsBrowser.wxs" -ag -cg SebWindowsBrowserComponentGroup -template fragment -sfrag -suid -srd -dr InstallSebWindowsBrowserFolder -sw5150
          
          The .wxs file is produced pre-build. 
          1. Build the installer with error 
          2. ADD THE .wxs FILE TO THE PROJECT 
          3. Rebuild the installer
          
          Two expected warnings/errors:
          * SelfReg DLL on breakpadinjector.dll (error 1114) and wow_helper.exe (error 193) - warnings surpressed via flag -sw5150
      -->
      <ComponentGroupRef Id="Browser" />
      <Feature Id="Config" Title="Configuration Editor" Level="1" AllowAdvertise="no" InstallDefault="local">
        <ComponentRef Id="SEBConfigTool.exe" />
      </Feature>

      <Feature Id="Localization" Title="Localization" Level="1" AllowAdvertise="no" InstallDefault="local">
        <ComponentGroupRef Id="GermanLocalization" />
      </Feature>

      <Feature Id="StartMenu" Title="Start Menu Shortcuts" Level="1" AllowAdvertise="no" InstallDefault="local">
        <ComponentRef Id="StartMenuShortcuts" />
      </Feature>

      <Feature Id="Desktop" Title="Desktop Shortcuts" Level="1000" AllowAdvertise="no" InstallDefault="local">
        <ComponentRef Id="DesktopShortcuts" />
      </Feature>
    </Feature>
    
    <Directory Id="TARGETDIR" Name="SourceDir">
      <!-- Reference to the user's desktop -->
      <Directory Id="DesktopFolder" Name="Desktop" />

      <!-- Reference to the start menu -->
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationMenuFolder" Name="$(var.ProductDisplayName)" />
      </Directory>

      <!-- Reference to the ProgramData directory -->
      <Directory Id="CommonAppDataFolder">
        <!-- Hard coded to SafeExamBrowser, because that's what the binary looks for.
             If the name gets changed as part of the customization, then this will also
             need to be changed. -->
        <Directory Id="ProgramDataFolder" Name="$(var.ProductName)" />
      </Directory>

      <!-- Directory structure looks like:
        Program Files
        + Safe Exam Browser
          + de
          + SebBWindowsBrowser
            + xul_seb
            + xulrunner
          + SebWindowsResources
          + SebWindowsServiceWCF
      -->
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLDIR" Name="$(var.ProductName)">
          <Directory Id="GermanLocalizationFolder" Name="de" />
          <Directory Id="SebWindowsBrowserFolder" Name="SebWindowsBrowser" />
          <Directory Id="SebWindowsResourcesFolder" Name="SebWindowsResources" />
          <Directory Id="SebWindowsServiceWCFFolder" Name="SebWindowsServiceWCF" />
        </Directory>
      </Directory>
    </Directory>

    <ComponentGroup Id="Application" Directory="INSTALLDIR">
      <Component Id="SafeExamBrowser.exe">
        <File Id="SafeExamBrowser.exe" Source="$(var.SebWindowsClient.TargetPath)" Checksum="yes" KeyPath="yes" />
        <ProgId Id="org.safeexambrowser.SafeExamBrowser" Description="Safe Exam Browser settings" Advertise="yes" Icon="SebDocumentIcon">
          <Extension Id="seb" Advertise="yes">
            <Verb Id="Open" Command="&amp;Open with Safe Exam Browser" Argument="&quot;%1&quot;" />
            <MIME ContentType="application/seb" Default="yes"/>
          </Extension>
        </ProgId>
        <RegistryKey Root="HKCR" Key="seb">
          <RegistryValue Type="string" Name="URL Protocol" Value="" />
          <RegistryValue Type="string" Value="URL:Safe Exam Browser protocol" />
          <RegistryKey Key="shell\open\command">
            <RegistryValue Type="string" Value="&quot;[INSTALLDIR]SafeExamBrowser.exe&quot; &quot;%1&quot;" />
          </RegistryKey>
        </RegistryKey>
        <RegistryKey Root="HKCR" Key="sebs">
          <RegistryValue Type="string" Name="URL Protocol" Value="" />
          <RegistryValue Type="string" Value="URL:Safe Exam Browser protocol" />
          <RegistryKey Key="shell\open\command">
            <RegistryValue Type="string" Value="&quot;[INSTALLDIR]SafeExamBrowser.exe&quot; &quot;%1&quot;" />
          </RegistryKey>
        </RegistryKey>
      </Component>

      <Component Id="Fleck.dll">
        <File Id="Fleck.dll" Source="$(var.Fleck.TargetPath)" KeyPath="yes" />
      </Component>
      <Component Id="IconExtractor.dll">
        <File Id="IconExtractor.dll" Source="$(var.IconExtractor.TargetPath)" KeyPath="yes" />
      </Component>
      <Component Id="MetroFramework.dll">
        <File Id="MetroFramework.dll" Source="$(var.SebWindowsClient.TargetDir)\MetroFramework.dll" KeyPath="yes" />
      </Component>
      <Component Id="MetroFramework.Design.dll">
        <File Id="MetroFramework.Design.dll" Source="$(var.SebWindowsClient.TargetDir)\MetroFramework.Design.dll" KeyPath="yes" />
      </Component>
      <Component Id="MetroFramework.Fonts.dll">
        <File Id="MetroFramework.Fonts.dll" Source="$(var.SebWindowsClient.TargetDir)\MetroFramework.Fonts.dll" KeyPath="yes"  />
      </Component>
      <Component Id="NAudio.dll">
        <File Id="NAudio.dll" Source="$(var.SebWindowsClient.TargetDir)\NAudio.dll" KeyPath="yes" />
      </Component>
      <Component Id="Newtonsoft.Json.dll">
        <File Id="Newtonsoft.Json.dll" Source="$(var.SebWindowsClient.TargetDir)\Newtonsoft.Json.dll" KeyPath="yes" />
      </Component>
    </ComponentGroup>

    <DirectoryRef Id="INSTALLDIR">
      <Component Id="SEBConfigTool.exe">
        <File Id ="SEBConfigTool.exe" Source="$(var.SebWindowsConfig.TargetPath)" Checksum="yes" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <ComponentGroup Id="GermanLocalization" Directory="GermanLocalizationFolder">
      <Component Id="SafeExamBrowser.resources.dll">
        <File Id="SafeExamBrowser.resources.dll" Source="$(var.SebWindowsClient.TargetDir)\de\$(var.SebWindowsClient.TargetName).resources.dll" KeyPath="yes" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="Resources" Directory="SebWindowsResourcesFolder">
      <Component Id="SEBIcon.ico">
        <File Id="SEBIcon.ico" Source="$(var.SEBIconFile)" KeyPath="yes" />
      </Component>
      <Component Id="SebDocumentIcon.ico">
        <File Id="SebDocumentIcon.ico" Source="$(var.SEBDocumentIconFile)" KeyPath="yes" />
      </Component>
      <?ifdef ResourceLocalIndexHtmlFile ?>
      <Component Id="index.html">
        <File Id="index.html" Source="$(var.ResourceLocalIndexHtmlFile)" KeyPath="yes" />
      </Component>
      <?endif ?>
    </ComponentGroup>

    <ComponentGroup Id="WindowsServiceWCF" Directory="SebWindowsServiceWCFFolder">
      <Component Id="SebRegistryResetter.exe">
        <File Id="SebRegistryResetter.exe" Source="$(var.SebRegistryResetter.TargetPath)" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="SebWindowsServiceWCF.exe">
        <File Id="SebWindowsServiceWCF.exe" Source="$(var.SebWindowsServiceWCF.TargetPath)" KeyPath="yes" Checksum="yes" />
        <ServiceInstall Id="ServiceInstaller" Type="ownProcess"
                        Name="SebWindowsServiceWCF" DisplayName="$(var.ProductNameAbbreviation) Windows Service" 
                        Description="$(var.ProductNameAbbreviation) Windows Service which needs to be running when using $(var.ProductDisplayName)"
                        Start="auto" ErrorControl="ignore" Interactive="no" Account="LocalSystem" Vital="yes" />
        <ServiceControl Id="StartService" Start="install" Stop="both" Remove="uninstall" Wait="yes" Name="SebWindowsServiceWCF" />
      </Component>
      <Component Id="SebWindowsServiceWCF.exe.config">
        <File Id="SebWindowsServiceWCF.exe.config" Source="$(var.SebWindowsServiceWCF.TargetPath).config" KeyPath="yes" />
      </Component>
    </ComponentGroup>

    <DirectoryRef Id="ApplicationMenuFolder">
      <Component Id="StartMenuShortcuts" Guid="{FC422793-C9FC-4216-BE97-902DB0845B7A}">
        <Shortcut Id="SebStartMenuShortcut" Name="$(var.ProductDisplayName)" Description="Launches the Safe Exam Browser (SEB)" 
                  Target="[INSTALLDIR]$(var.SebWindowsClient.TargetFileName)" WorkingDirectory="INSTALLDIR" />
        <Shortcut Id="RegistryResetStartMenuShortcut" Name="$(var.RegistryResetShortcutName)" Description="$(var.RegistryResetShortcutName)"
                  Target="[INSTALLDIR]SebWindowsServiceWCF\$(var.SebRegistryResetter.TargetFileName)" Icon="ApplicationIcon" />
        <Shortcut Id="ConfigStartMenuShortcut" Name="$(var.ConfigShortcutName)" Description="$(var.ConfigShortcutName)"
                  Target="[INSTALLDIR]$(var.SebWindowsConfig.TargetFileName)" />
        <RemoveFolder Id="ApplicationMenuFolder" On="uninstall"/>
        <RegistryValue Root="HKMU" Key="Software\[Manufacturer]\[ProductName]" Type="string" Value="" KeyPath="yes" Name="StartMenuShortcuts"/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="DesktopFolder">
      <Component Id="DesktopShortcuts" Guid="{BC5B24FB-3036-4C55-83EB-27098D9E7C1E}">
        <Shortcut Id="SebDesktopShortcut" Name="$(var.ProductDisplayName)" Description="Launches the Safe Exam Browser (SEB)"
                  Target="[INSTALLDIR]$(var.SebWindowsClient.TargetFileName)" WorkingDirectory="INSTALLDIR" />
        <RegistryValue Root="HKMU" Key="Software\[Manufacturer]\[ProductName]" Type="string" Value="" KeyPath="yes" Name="DesktopShortcuts"/>
      </Component>
    </DirectoryRef>

    <ComponentGroup Id="ProgramData" Directory="ProgramDataFolder">
      <?ifdef DefaultSettingsFile?>
      <Component Id="SebClientSettings.seb">
        <File Id="SebClientSettings.seb" Source="$(var.DefaultSebClientSettingsFile)" KeyPath="yes" />
      </Component>
      <?endif ?>
    </ComponentGroup>
  </Product>
</Wix>