<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="XulRunnerInstallFolder">
            <Directory Id="dir2FBA944FAEE0101627FE13A288E2BA73" Name="xulrunner">
                <Component Id="cmpE9B29BB5BD95B37CEB8B31E54520A753" Guid="{60FAEDE3-28D2-4DDA-8661-3CA83E450677}">
                    <File Id="filCB57567E7D1EA177A3317B2D22CE1CDB" KeyPath="yes" Source="SourceDir\AccessibleMarshal.dll">
                        <Class Id="{0D68D6D0-D93D-4D08-A30D-F00DD1F45B24}" Context="InprocServer32" Description="PSFactoryBuffer" ThreadingModel="both" />
                    </File>
                    <Interface Id="{0D68D6D0-D93D-4D08-A30D-F00DD1F45B24}" Name="ISimpleDOMDocument" ProxyStubClassId32="{0D68D6D0-D93D-4D08-A30D-F00DD1F45B24}" NumMethods="9" />
                    <Interface Id="{1814CEEB-49E2-407F-AF99-FA755A7D2607}" Name="ISimpleDOMNode" ProxyStubClassId32="{0D68D6D0-D93D-4D08-A30D-F00DD1F45B24}" NumMethods="18" />
                    <Interface Id="{4E747BE5-2052-4265-8AF0-8ECAD7AAD1C0}" Name="ISimpleDOMText" ProxyStubClassId32="{0D68D6D0-D93D-4D08-A30D-F00DD1F45B24}" NumMethods="8" />
                </Component>
                <Component Id="cmpA6DF9341D936B7ED7A97BFCE4AAB17D1" Guid="{1AAF08E4-103A-42BF-B633-8ECE176392B0}">
                    <File Id="filA81CF3075A7D3A9A6B4175E8444F258E" KeyPath="yes" Source="SourceDir\breakpadinjector.dll" />
                </Component>
                <Component Id="cmp86AD362021CFCD07B34703526AD0E772" Guid="{5F5C3FDD-F1CF-4331-A8F1-A96887BD01CD}">
                    <File Id="fil2BC485AA820FB5D16D039747DA0FFB2E" KeyPath="yes" Source="SourceDir\crashreporter.exe" />
                </Component>
                <Component Id="cmpE76FAE3CFFB9EEA02D2254FF209669A5" Guid="{013D8045-091C-498B-A2A8-A3DB3D06098D}">
                    <File Id="fil96EB4ACDE6A231316016A453A6A582D0" KeyPath="yes" Source="SourceDir\crashreporter.ini" />
                </Component>
                <Component Id="cmpD7FF896E106B433B86BA7EB8CAA92EE8" Guid="{2A6178F1-2A48-481B-AE6B-95BBFEC41DC1}">
                    <File Id="filC18F7FC065B5B0EE186A633FC568CB65" KeyPath="yes" Source="SourceDir\D3DCompiler_43.dll" />
                </Component>
                <Component Id="cmp1970AAAE0C264A6544ACF1FE0605C144" Guid="{C62189BB-BDFE-4CED-B063-F8EAF336B6F7}">
                    <File Id="fil606F1F1A450DF73CDFF7041720C87586" KeyPath="yes" Source="SourceDir\d3dcompiler_47.dll" />
                </Component>
                <Component Id="cmpFFE2F3DD32728E458FE770A493FD0D33" Guid="{70A24848-A0CF-4F14-9254-902C25D826E4}">
                    <File Id="filC82F081BD0E349246CB5E0F19325C2BB" KeyPath="yes" Source="SourceDir\dependentlibs.list" />
                </Component>
                <Component Id="cmp23ACA47CE0AFB192A4F5A5D8C9EA4AB2" Guid="{7A2C2E98-8F8C-4F15-93DB-3A9848B964E9}">
                    <File Id="fil38734659131A64E93784276C59582DE4" KeyPath="yes" Source="SourceDir\freebl3.chk" />
                </Component>
                <Component Id="cmp38B9A69D33AA9121E6B8F331EBC2E06B" Guid="{231848EF-09BD-43EC-BAAE-C7E6E0E9C56C}">
                    <File Id="fil7DCA533F8D5F42E99C022225637E8641" KeyPath="yes" Source="SourceDir\freebl3.dll" />
                </Component>
                <Component Id="cmp22C23809AC8403A5013B012E32A752E5" Guid="{556AEB45-0E54-4C3F-B3D8-48D9A1936AB5}">
                    <File Id="filB866F4B327F5BBACFB4929597D0929E0" KeyPath="yes" Source="SourceDir\IA2Marshal.dll">
                        <Class Id="{E89F726E-C4F4-4C19-BB19-B647D7FA8478}" Context="InprocServer32" Description="PSFactoryBuffer" ThreadingModel="both" />
                    </File>
                    <Interface Id="{01C20F2B-3DD2-400F-949F-AD00BDAB1D41}" Name="IAccessibleHyperlink" ProxyStubClassId32="{E89F726E-C4F4-4C19-BB19-B647D7FA8478}" NumMethods="14" />
                    <Interface Id="{1546D4B0-4C98-4BDA-89AE-9A64748BDDE4}" Name="IAccessibleComponent" ProxyStubClassId32="{E89F726E-C4F4-4C19-BB19-B647D7FA8478}" NumMethods="6" />
                    <Interface Id="{24FD2FFB-3AAD-4A08-8335-A3AD89C0FB4B}" Name="IAccessibleText" ProxyStubClassId32="{E89F726E-C4F4-4C19-BB19-B647D7FA8478}" NumMethods="22" />
                    <Interface Id="{35855B5B-C566-4FD0-A7B1-E65465600394}" Name="IAccessibleValue" ProxyStubClassId32="{E89F726E-C4F4-4C19-BB19-B647D7FA8478}" NumMethods="7" />
                    <Interface Id="{35AD8070-C20C-4FB4-B094-F4F7275DD469}" Name="IAccessibleTable" ProxyStubClassId32="{E89F726E-C4F4-4C19-BB19-B647D7FA8478}" NumMethods="32" />
                    <Interface Id="{594116B1-C99F-4847-AD06-0A7A86ECE645}" Name="IAccessibleTableCell" ProxyStubClassId32="{E89F726E-C4F4-4C19-BB19-B647D7FA8478}" NumMethods="12" />
                    <Interface Id="{6167F295-06F0-4CDD-A1FA-02E25153D869}" Name="IAccessibleTable2" ProxyStubClassId32="{E89F726E-C4F4-4C19-BB19-B647D7FA8478}" NumMethods="23" />
                    <Interface Id="{6B4F8BBF-F1F2-418A-B35E-A195BC4103B9}" Name="IAccessibleHypertext" ProxyStubClassId32="{E89F726E-C4F4-4C19-BB19-B647D7FA8478}" NumMethods="25" />
                    <Interface Id="{6C9430E9-299D-4E6F-BD01-A82A1E88D3FF}" Name="IAccessible2_2" ProxyStubClassId32="{E89F726E-C4F4-4C19-BB19-B647D7FA8478}" NumMethods="49" />
                    <Interface Id="{7CDF86EE-C3DA-496A-BDA4-281B336E1FDC}" Name="IAccessibleRelation" ProxyStubClassId32="{E89F726E-C4F4-4C19-BB19-B647D7FA8478}" NumMethods="8" />
                    <Interface Id="{9690A9CC-5C80-4DF5-852E-2D5AE4189A54}" Name="IAccessibleText2" ProxyStubClassId32="{E89F726E-C4F4-4C19-BB19-B647D7FA8478}" NumMethods="23" />
                    <Interface Id="{A59AA09A-7011-4B65-939D-32B1FB5547E3}" Name="IAccessibleEditableText" ProxyStubClassId32="{E89F726E-C4F4-4C19-BB19-B647D7FA8478}" NumMethods="10" />
                    <Interface Id="{B70D9F59-3B5A-4DBA-AB9E-22012F607DF5}" Name="IAccessibleAction" ProxyStubClassId32="{E89F726E-C4F4-4C19-BB19-B647D7FA8478}" NumMethods="9" />
                    <Interface Id="{C48C7FCF-4AB5-4056-AFA6-902D6E1D1149}" Name="IAccessibleDocument" ProxyStubClassId32="{E89F726E-C4F4-4C19-BB19-B647D7FA8478}" NumMethods="4" />
                    <Interface Id="{CF64D89F-8287-4B44-8501-A827453A6077}" Name="IAccessibleHypertext2" ProxyStubClassId32="{E89F726E-C4F4-4C19-BB19-B647D7FA8478}" NumMethods="26" />
                    <Interface Id="{D49DED83-5B25-43F4-9B95-93B44595979E}" Name="IAccessibleApplication" ProxyStubClassId32="{E89F726E-C4F4-4C19-BB19-B647D7FA8478}" NumMethods="7" />
                    <Interface Id="{E89F726E-C4F4-4C19-BB19-B647D7FA8478}" Name="IAccessible2" ProxyStubClassId32="{E89F726E-C4F4-4C19-BB19-B647D7FA8478}" NumMethods="46" />
                    <Interface Id="{FE5ABB3D-615E-4F7B-909F-5F0EDA9E8DDE}" Name="IAccessibleImage" ProxyStubClassId32="{E89F726E-C4F4-4C19-BB19-B647D7FA8478}" NumMethods="6" />
                </Component>
                <Component Id="cmp1427447ADD158C20DF5596DF2953BCF0" Guid="{9F72311D-AB38-48DB-AFD5-D33C74BF781C}">
                    <File Id="filEEAFB068107F92B23FEE8FD1DD536696" KeyPath="yes" Source="SourceDir\icudt52.dll" />
                </Component>
                <Component Id="cmp9924AB88F9463561A63FC39C80B35B16" Guid="{A6E30B7D-E0F2-4B3C-9452-5ABC51571718}">
                    <File Id="fil5B8105ABBC30E3DD6C90FC54EB1F41FE" KeyPath="yes" Source="SourceDir\icuin52.dll" />
                </Component>
                <Component Id="cmpA164B9CFAD99DD48D3444D2B18BFD14A" Guid="{A6FA40C8-FF11-4BF0-97D5-7336CCD12C40}">
                    <File Id="fil248DCB81BF639AF92623523BD3CF0BC2" KeyPath="yes" Source="SourceDir\icuuc52.dll" />
                </Component>
                <Component Id="cmpD3B0621DBDB34D91FDE78C3DC8FAAA23" Guid="{9790C9BB-653D-4397-B70E-74FCAE8BC88F}">
                    <File Id="fil995F4EC55B00D10F4F81E1D7A8A73B38" KeyPath="yes" Source="SourceDir\js-gdb.py" />
                </Component>
                <Component Id="cmp1978FD634AB6D9DA1CA0D5C52A1B9D8D" Guid="{83C89B59-A08D-44F8-9E42-8C7F4ABC710D}">
                    <File Id="fil17F59E7BADE139FF4A83407379BBD2E7" KeyPath="yes" Source="SourceDir\js.exe" />
                </Component>
                <Component Id="cmp79E7EB239D82897F8B00C7542F6297D8" Guid="{A9BDAE32-2A7D-427A-988A-797D71B3AB98}">
                    <File Id="fil482767FA3173DD7E8E20701B0AA58292" KeyPath="yes" Source="SourceDir\libEGL.dll" />
                </Component>
                <Component Id="cmp6A3196CBE79A2D1544983CDD4242FEAD" Guid="{A31DCAAF-05D5-4378-8260-88190438FFBD}">
                    <File Id="filF80DB586558944DAC6F9EEEEBBAD1397" KeyPath="yes" Source="SourceDir\libGLESv2.dll" />
                </Component>
                <Component Id="cmpF88622D930F11997E73AD1CACD59C4D0" Guid="{67E0EE53-8EAB-43F3-B8AC-5B6BE2979159}">
                    <File Id="fil5BB749A90AD1910BED9C699E12DEFD19" KeyPath="yes" Source="SourceDir\LICENSE" />
                </Component>
                <Component Id="cmpCD2AC7B10CF0E2F66CC9E83D8E8F80F2" Guid="{809E9817-D0BC-4E83-9864-F612CB299222}">
                    <File Id="fil11EB1D3D530A3E5EC7AAA3B95A1A886B" KeyPath="yes" Source="SourceDir\mozglue.dll" />
                </Component>
                <Component Id="cmp52CC979C26E97905F37D318F02C9EBFF" Guid="{A753E46F-C662-4A35-A19A-4AE895298D37}">
                    <File Id="filB29D99A665CF395C9BA67694B108041A" KeyPath="yes" Source="SourceDir\msvcp120.dll" />
                </Component>
                <Component Id="cmpB35DFAD98D7BDED2567D0F65FB72AE1E" Guid="{9E5C5134-C4BB-4AE9-9AAF-40D68C97E46F}">
                    <File Id="fil8AB221A918D73626DEA52690972DE418" KeyPath="yes" Source="SourceDir\msvcr120.dll" />
                </Component>
                <Component Id="cmp51FCBA43F12402FDCD14743859E84AE4" Guid="{ED220558-AC37-437F-8D4B-8A3B01C3D0DA}">
                    <File Id="fil99D5CC70791D6B5324ADC67C608442F7" KeyPath="yes" Source="SourceDir\nss3.dll" />
                </Component>
                <Component Id="cmp5109F961DFF443D68E78D0C1DB7AD30F" Guid="{1D87405E-2FBD-45AE-A89E-8938D321BDD4}">
                    <File Id="filB414039B469BB567215C1D0E5BCDF613" KeyPath="yes" Source="SourceDir\nssckbi.dll" />
                </Component>
                <Component Id="cmpC57D6F671A831E2CBC2DD800CECC07DC" Guid="{42F80F79-1D59-4753-847F-690639429018}">
                    <File Id="filD8119E34AA788B6283DEF424FCBFFF5B" KeyPath="yes" Source="SourceDir\nssdbm3.chk" />
                </Component>
                <Component Id="cmpEA4B6CD3C2E3CD8DB4ABBEBC2A4E1133" Guid="{D2DA8B09-2460-4487-A5F5-930ABB07D1E6}">
                    <File Id="filC1BC409AE3BD4E92F83CBCD841427B75" KeyPath="yes" Source="SourceDir\nssdbm3.dll" />
                </Component>
                <Component Id="cmpF11C969E354453D295C7BA43B915C6B9" Guid="{3E3BED21-8771-45DF-8E78-02636FC8C217}">
                    <File Id="filEA4A668DC47BA242F739111A709DEB5E" KeyPath="yes" Source="SourceDir\omni.ja" />
                </Component>
                <Component Id="cmp0D0D447C6A35FDC77979BB21EF716B7D" Guid="{D9C567FE-41C4-478D-9539-B15738645896}">
                    <File Id="fil626329224875350117FCE0E038737702" KeyPath="yes" Source="SourceDir\platform.ini" />
                </Component>
                <Component Id="cmp7CF49FAB6678F0FB870E934FE4FC771E" Guid="{74B34E9D-BA7C-42F0-AF05-64D6FE3241D9}">
                    <File Id="fil48276C297DA97DE5BCE7F00C651DE68A" KeyPath="yes" Source="SourceDir\plugin-container.exe" />
                </Component>
                <Component Id="cmp5355C0F153534FFFD776E5D099D3EAF9" Guid="{1BC3B90F-DF0E-420A-9D54-5F3A3835E037}">
                    <File Id="filA1B6F758B9D5EFD3D1E4FB3491BF510F" KeyPath="yes" Source="SourceDir\plugin-hang-ui.exe" />
                </Component>
                <Component Id="cmpDA213E57A9B3EDB8D58B3A2978670D6F" Guid="{E3B84F5F-91D2-4973-A56C-8ACF76943583}">
                    <File Id="filED1DB1AA5DD8F30A01999B68C89DB1B5" KeyPath="yes" Source="SourceDir\precomplete" />
                </Component>
                <Component Id="cmp601A0E79F201FCAD89473A9FC724C5EB" Guid="{B22A12BC-994B-4C3C-882F-E5D6B30D6C0F}">
                    <File Id="filCE4C070B8732F65F1AEFBA5CF82CA40F" KeyPath="yes" Source="SourceDir\README.xulrunner" />
                </Component>
                <Component Id="cmp2084668007CC9856F87E5D11AE06913A" Guid="{2AE4C19B-8603-488F-9341-8E939961E521}">
                    <File Id="fil8DF77CC4E69956DBFB12EB6E131A5938" KeyPath="yes" Source="SourceDir\redit.exe" />
                </Component>
                <Component Id="cmp676E3EAC2FA00701B25B3F3968B196D5" Guid="{CC0E8157-EDF3-403A-AFAA-BA4725DAAF27}">
                    <File Id="fil3AFE60DFD5D50A003889407E3B6F68AF" KeyPath="yes" Source="SourceDir\sandboxbroker.dll" />
                </Component>
                <Component Id="cmp029790AF9153D173E923C31779AFC710" Guid="{84565CC9-9BD9-4D01-9DE9-6EC603AB4A74}">
                    <File Id="fil3ED143B794BBF37516FBB223B430BE52" KeyPath="yes" Source="SourceDir\softokn3.chk" />
                </Component>
                <Component Id="cmpF109EF8567FB1320EA35446E2B4F97F8" Guid="{B9FA2907-1AA8-4BF2-B7A1-D5FC695514F9}">
                    <File Id="fil0FC52FC7D0A21CBB7A8451F8E8F1B946" KeyPath="yes" Source="SourceDir\softokn3.dll" />
                </Component>
                <Component Id="cmp706FD4162C1C67FDF0312B3B8E38A016" Guid="{9BFA9CD9-A91F-453B-8EBF-4E9E303AA101}">
                    <File Id="fil835501CF42532597941729B9492C3315" KeyPath="yes" Source="SourceDir\updater.exe" />
                </Component>
                <Component Id="cmp7BD8377074398DADF09239F2CC026017" Guid="{4C8C285E-1E90-4759-8AB6-2484D14BBD7E}">
                    <File Id="fil07082D9DDBA9BF4C2C9FF7EBA3330908" KeyPath="yes" Source="SourceDir\wow_helper.exe" />
                </Component>
                <Component Id="cmp4C024F81D7047C0ED8EC3A0F523BDBB1" Guid="{8BDA07B9-0700-463B-982F-F1A54258F2AB}">
                    <File Id="fil48FFBA4041EB2110363A94FDE91B48A0" KeyPath="yes" Source="SourceDir\xul.dll" />
                </Component>
                <Component Id="cmpE145A487D8CDC322DB67F8D09904A138" Guid="{502D0E85-345F-4870-AC76-4B54EC03C05B}">
                    <File Id="fil862B87EB339A703C94854BA4C5213274" KeyPath="yes" Source="SourceDir\xulrunner-stub.exe" />
                </Component>
                <Component Id="cmp9FEFFB6992BBC1E09031CFF6DBEC3B87" Guid="{FFEC6BD8-3AF4-41DC-836F-E0B4B44C08CC}">
                    <File Id="filD559D0C308F9DD88EA205D0325C7AB54" KeyPath="yes" Source="SourceDir\xulrunner.exe" />
                </Component>
                <Directory Id="dirBAB0AFEE7B3A0B96903BC1E369001545" Name="dictionaries">
                    <Component Id="cmpE6A60419B51EA6622E18A4FA71CC9779" Guid="{548BBA8F-37C3-49E8-A0E0-92E15045642D}">
                        <File Id="filF7DB73C6B07F871A9A47B4A28DBD5824" KeyPath="yes" Source="SourceDir\dictionaries\en-US.aff" />
                    </Component>
                    <Component Id="cmp30475D0C9DA797EBDB65E24D776BC4A5" Guid="{A9DD4A36-94CF-4B62-BD4A-4012ECFE7358}">
                        <File Id="filB7DD552B3A09728B67E7DF0EDBA6412F" KeyPath="yes" Source="SourceDir\dictionaries\en-US.dic" />
                    </Component>
                </Directory>
                <Directory Id="dirC3F6835844465ABA37E402212DD3F743" Name="gmp-clearkey">
                    <Directory Id="dirBF914ED533575CCD38299C7843F8C624" Name="0.1">
                        <Component Id="cmpCA68803FFBFFA794DDCBFD65D598D362" Guid="{43B3AEB9-F866-47AF-8810-B9B860027E67}">
                            <File Id="fil7376622BE8C9E30C9B6D0A90D5806C41" KeyPath="yes" Source="SourceDir\gmp-clearkey\0.1\clearkey.dll" />
                        </Component>
                        <Component Id="cmp23B0A9E0BE3016439C9B214775C2AEFD" Guid="{17708AF4-80EA-4AF3-813B-5918F8BD4481}">
                            <File Id="filE96EFB78700BB9BE7685DBDAC39D6D18" KeyPath="yes" Source="SourceDir\gmp-clearkey\0.1\clearkey.info" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dir8E3BBC01A3A42BF9A473018B14C38E5F" Name="gmp-fake">
                    <Directory Id="dirA99A2997803442FEDD2171F1B951FE94" Name="1.0">
                        <Component Id="cmpCC5C66F346CB223F7FC938FC1EB1EC11" Guid="{B452FAFF-7EF5-4559-AB36-931025ABCC9D}">
                            <File Id="filD6E9D1C92197579CFEF79A7FB29FC842" KeyPath="yes" Source="SourceDir\gmp-fake\1.0\fake.dll" />
                        </Component>
                        <Component Id="cmp6C44F83F990C4ECD891135CBE2F44FC6" Guid="{AC592F6B-CC36-4059-A6A5-EF162BC08431}">
                            <File Id="filCFF66F1F66FFE50B9E36DD1AB94659C3" KeyPath="yes" Source="SourceDir\gmp-fake\1.0\fake.info" />
                        </Component>
                        <Component Id="cmp40C1B9E88A372F59A917395CB61ADABC" Guid="{C6B038B0-C118-442E-9743-4A976F922BDA}">
                            <File Id="fil500649871F24E9BA7B87C771AEEA514E" KeyPath="yes" Source="SourceDir\gmp-fake\1.0\fake.voucher" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dir6AD0804448374C389C20E54250F1DC8D" Name="gmp-fakeopenh264">
                    <Directory Id="dirBFBE1EB659E4603B9F4F3A8A177B0AF1" Name="1.0">
                        <Component Id="cmp001597FEBAC44C02211C09EFDEA23F69" Guid="{359B4B19-8C24-419E-8810-9968FD02D934}">
                            <File Id="fil8596AC44505C0C4AA8E0A6D1894E0935" KeyPath="yes" Source="SourceDir\gmp-fakeopenh264\1.0\fakeopenh264.dll" />
                        </Component>
                        <Component Id="cmp8D31234100391C49F08EB81D4C0315B0" Guid="{5AB04669-7903-4E3A-B146-1A950DF03129}">
                            <File Id="fil83D055FBDC265B6B99CEE4531A50673C" KeyPath="yes" Source="SourceDir\gmp-fakeopenh264\1.0\fakeopenh264.info" />
                        </Component>
                        <Component Id="cmp627C51C5DC0BB94FA64470636BB930FC" Guid="{116E9CA0-2A2C-4A59-9066-0D3413FE5E92}">
                            <File Id="filF9DD1EF7E9A4D7823C7D3709249E8AC3" KeyPath="yes" Source="SourceDir\gmp-fakeopenh264\1.0\fakeopenh264.voucher" />
                        </Component>
                    </Directory>
                </Directory>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="XulRunnerComponentGroup">
            <ComponentRef Id="cmpE9B29BB5BD95B37CEB8B31E54520A753" />
            <ComponentRef Id="cmpA6DF9341D936B7ED7A97BFCE4AAB17D1" />
            <ComponentRef Id="cmp86AD362021CFCD07B34703526AD0E772" />
            <ComponentRef Id="cmpE76FAE3CFFB9EEA02D2254FF209669A5" />
            <ComponentRef Id="cmpD7FF896E106B433B86BA7EB8CAA92EE8" />
            <ComponentRef Id="cmp1970AAAE0C264A6544ACF1FE0605C144" />
            <ComponentRef Id="cmpFFE2F3DD32728E458FE770A493FD0D33" />
            <ComponentRef Id="cmp23ACA47CE0AFB192A4F5A5D8C9EA4AB2" />
            <ComponentRef Id="cmp38B9A69D33AA9121E6B8F331EBC2E06B" />
            <ComponentRef Id="cmp22C23809AC8403A5013B012E32A752E5" />
            <ComponentRef Id="cmp1427447ADD158C20DF5596DF2953BCF0" />
            <ComponentRef Id="cmp9924AB88F9463561A63FC39C80B35B16" />
            <ComponentRef Id="cmpA164B9CFAD99DD48D3444D2B18BFD14A" />
            <ComponentRef Id="cmpD3B0621DBDB34D91FDE78C3DC8FAAA23" />
            <ComponentRef Id="cmp1978FD634AB6D9DA1CA0D5C52A1B9D8D" />
            <ComponentRef Id="cmp79E7EB239D82897F8B00C7542F6297D8" />
            <ComponentRef Id="cmp6A3196CBE79A2D1544983CDD4242FEAD" />
            <ComponentRef Id="cmpF88622D930F11997E73AD1CACD59C4D0" />
            <ComponentRef Id="cmpCD2AC7B10CF0E2F66CC9E83D8E8F80F2" />
            <ComponentRef Id="cmp52CC979C26E97905F37D318F02C9EBFF" />
            <ComponentRef Id="cmpB35DFAD98D7BDED2567D0F65FB72AE1E" />
            <ComponentRef Id="cmp51FCBA43F12402FDCD14743859E84AE4" />
            <ComponentRef Id="cmp5109F961DFF443D68E78D0C1DB7AD30F" />
            <ComponentRef Id="cmpC57D6F671A831E2CBC2DD800CECC07DC" />
            <ComponentRef Id="cmpEA4B6CD3C2E3CD8DB4ABBEBC2A4E1133" />
            <ComponentRef Id="cmpF11C969E354453D295C7BA43B915C6B9" />
            <ComponentRef Id="cmp0D0D447C6A35FDC77979BB21EF716B7D" />
            <ComponentRef Id="cmp7CF49FAB6678F0FB870E934FE4FC771E" />
            <ComponentRef Id="cmp5355C0F153534FFFD776E5D099D3EAF9" />
            <ComponentRef Id="cmpDA213E57A9B3EDB8D58B3A2978670D6F" />
            <ComponentRef Id="cmp601A0E79F201FCAD89473A9FC724C5EB" />
            <ComponentRef Id="cmp2084668007CC9856F87E5D11AE06913A" />
            <ComponentRef Id="cmp676E3EAC2FA00701B25B3F3968B196D5" />
            <ComponentRef Id="cmp029790AF9153D173E923C31779AFC710" />
            <ComponentRef Id="cmpF109EF8567FB1320EA35446E2B4F97F8" />
            <ComponentRef Id="cmp706FD4162C1C67FDF0312B3B8E38A016" />
            <ComponentRef Id="cmp7BD8377074398DADF09239F2CC026017" />
            <ComponentRef Id="cmp4C024F81D7047C0ED8EC3A0F523BDBB1" />
            <ComponentRef Id="cmpE145A487D8CDC322DB67F8D09904A138" />
            <ComponentRef Id="cmp9FEFFB6992BBC1E09031CFF6DBEC3B87" />
            <ComponentRef Id="cmpE6A60419B51EA6622E18A4FA71CC9779" />
            <ComponentRef Id="cmp30475D0C9DA797EBDB65E24D776BC4A5" />
            <ComponentRef Id="cmpCA68803FFBFFA794DDCBFD65D598D362" />
            <ComponentRef Id="cmp23B0A9E0BE3016439C9B214775C2AEFD" />
            <ComponentRef Id="cmpCC5C66F346CB223F7FC938FC1EB1EC11" />
            <ComponentRef Id="cmp6C44F83F990C4ECD891135CBE2F44FC6" />
            <ComponentRef Id="cmp40C1B9E88A372F59A917395CB61ADABC" />
            <ComponentRef Id="cmp001597FEBAC44C02211C09EFDEA23F69" />
            <ComponentRef Id="cmp8D31234100391C49F08EB81D4C0315B0" />
            <ComponentRef Id="cmp627C51C5DC0BB94FA64470636BB930FC" />
        </ComponentGroup>
    </Fragment>
</Wix>