<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="XulRunnerInstallFolder">
            <Directory Id="dir2FBA944FAEE0101627FE13A288E2BA73" Name="xulrunner">
                <Component Id="cmpE9B29BB5BD95B37CEB8B31E54520A753" Guid="{D5BE97D8-C252-4FFC-9E27-EA2DF1FB265E}">
                    <File Id="filCB57567E7D1EA177A3317B2D22CE1CDB" KeyPath="yes" Source="SourceDir\AccessibleMarshal.dll">
                        <Class Id="{0D68D6D0-D93D-4D08-A30D-F00DD1F45B24}" Context="InprocServer32" Description="PSFactoryBuffer" ThreadingModel="both" />
                    </File>
                    <Interface Id="{0D68D6D0-D93D-4D08-A30D-F00DD1F45B24}" Name="ISimpleDOMDocument" ProxyStubClassId32="{0D68D6D0-D93D-4D08-A30D-F00DD1F45B24}" NumMethods="9" />
                    <Interface Id="{1814CEEB-49E2-407F-AF99-FA755A7D2607}" Name="ISimpleDOMNode" ProxyStubClassId32="{0D68D6D0-D93D-4D08-A30D-F00DD1F45B24}" NumMethods="18" />
                    <Interface Id="{4E747BE5-2052-4265-8AF0-8ECAD7AAD1C0}" Name="ISimpleDOMText" ProxyStubClassId32="{0D68D6D0-D93D-4D08-A30D-F00DD1F45B24}" NumMethods="8" />
                </Component>
                <Component Id="cmpA6DF9341D936B7ED7A97BFCE4AAB17D1" Guid="{3656B0A3-6F0B-4EC5-BBC3-A712C71D3A96}">
                    <File Id="filA81CF3075A7D3A9A6B4175E8444F258E" KeyPath="yes" Source="SourceDir\breakpadinjector.dll" />
                </Component>
                <Component Id="cmp86AD362021CFCD07B34703526AD0E772" Guid="{9B72DE1C-4BAD-4AD0-8385-4BAD0736CE1C}">
                    <File Id="fil2BC485AA820FB5D16D039747DA0FFB2E" KeyPath="yes" Source="SourceDir\crashreporter.exe" />
                </Component>
                <Component Id="cmpE76FAE3CFFB9EEA02D2254FF209669A5" Guid="{4853F01C-BF37-40BB-B62A-86B8E6898311}">
                    <File Id="fil96EB4ACDE6A231316016A453A6A582D0" KeyPath="yes" Source="SourceDir\crashreporter.ini" />
                </Component>
                <Component Id="cmpD7FF896E106B433B86BA7EB8CAA92EE8" Guid="{E62ABCE7-3048-4B75-9336-B9D3F392C2C5}">
                    <File Id="filC18F7FC065B5B0EE186A633FC568CB65" KeyPath="yes" Source="SourceDir\D3DCompiler_43.dll" />
                </Component>
                <Component Id="cmp1970AAAE0C264A6544ACF1FE0605C144" Guid="{1F0A8116-9784-422F-AF5D-97BF9A25B42F}">
                    <File Id="fil606F1F1A450DF73CDFF7041720C87586" KeyPath="yes" Source="SourceDir\d3dcompiler_47.dll" />
                </Component>
                <Component Id="cmpFFE2F3DD32728E458FE770A493FD0D33" Guid="{1E8A1B40-C2EE-4A8C-B454-21D166D65E77}">
                    <File Id="filC82F081BD0E349246CB5E0F19325C2BB" KeyPath="yes" Source="SourceDir\dependentlibs.list" />
                </Component>
                <Component Id="cmp23ACA47CE0AFB192A4F5A5D8C9EA4AB2" Guid="{AEBB6D99-1D55-47AD-8CFE-46014F434183}">
                    <File Id="fil38734659131A64E93784276C59582DE4" KeyPath="yes" Source="SourceDir\freebl3.chk" />
                </Component>
                <Component Id="cmp38B9A69D33AA9121E6B8F331EBC2E06B" Guid="{3D012F98-DA0D-4626-ADB2-C767619AFEBF}">
                    <File Id="fil7DCA533F8D5F42E99C022225637E8641" KeyPath="yes" Source="SourceDir\freebl3.dll" />
                </Component>
                <Component Id="cmp22C23809AC8403A5013B012E32A752E5" Guid="{0EE43AD1-4EF6-4928-BA7A-5B25EFDC58B2}">
                    <File Id="filB866F4B327F5BBACFB4929597D0929E0" KeyPath="yes" Source="SourceDir\IA2Marshal.dll">
                        <Class Id="{E89F726E-C4F4-4C19-BB19-B647D7FA8478}" Context="InprocServer32" Description="PSFactoryBuffer" ThreadingModel="both" />
                    </File>
                    <Interface Id="{01C20F2B-3DD2-400F-949F-AD00BDAB1D41}" Name="IAccessibleHyperlink" ProxyStubClassId32="{E89F726E-C4F4-4C19-BB19-B647D7FA8478}" NumMethods="14" />
                    <Interface Id="{1546D4B0-4C98-4BDA-89AE-9A64748BDDE4}" Name="IAccessibleComponent" ProxyStubClassId32="{E89F726E-C4F4-4C19-BB19-B647D7FA8478}" NumMethods="6" />
                    <Interface Id="{24FD2FFB-3AAD-4A08-8335-A3AD89C0FB4B}" Name="IAccessibleText" ProxyStubClassId32="{E89F726E-C4F4-4C19-BB19-B647D7FA8478}" NumMethods="22" />
                    <Interface Id="{35855B5B-C566-4FD0-A7B1-E65465600394}" Name="IAccessibleValue" ProxyStubClassId32="{E89F726E-C4F4-4C19-BB19-B647D7FA8478}" NumMethods="7" />
                    <Interface Id="{35AD8070-C20C-4FB4-B094-F4F7275DD469}" Name="IAccessibleTable" ProxyStubClassId32="{E89F726E-C4F4-4C19-BB19-B647D7FA8478}" NumMethods="32" />
                    <Interface Id="{594116B1-C99F-4847-AD06-0A7A86ECE645}" Name="IAccessibleTableCell" ProxyStubClassId32="{E89F726E-C4F4-4C19-BB19-B647D7FA8478}" NumMethods="12" />
                    <Interface Id="{6167F295-06F0-4CDD-A1FA-02E25153D869}" Name="IAccessibleTable2" ProxyStubClassId32="{E89F726E-C4F4-4C19-BB19-B647D7FA8478}" NumMethods="23" />
                    <Interface Id="{6B4F8BBF-F1F2-418A-B35E-A195BC4103B9}" Name="IAccessibleHypertext" ProxyStubClassId32="{E89F726E-C4F4-4C19-BB19-B647D7FA8478}" NumMethods="25" />
                    <Interface Id="{6C9430E9-299D-4E6F-BD01-A82A1E88D3FF}" Name="IAccessible2_2" ProxyStubClassId32="{E89F726E-C4F4-4C19-BB19-B647D7FA8478}" NumMethods="49" />
                    <Interface Id="{7CDF86EE-C3DA-496A-BDA4-281B336E1FDC}" Name="IAccessibleRelation" ProxyStubClassId32="{E89F726E-C4F4-4C19-BB19-B647D7FA8478}" NumMethods="8" />
                    <Interface Id="{9690A9CC-5C80-4DF5-852E-2D5AE4189A54}" Name="IAccessibleText2" ProxyStubClassId32="{E89F726E-C4F4-4C19-BB19-B647D7FA8478}" NumMethods="23" />
                    <Interface Id="{A59AA09A-7011-4B65-939D-32B1FB5547E3}" Name="IAccessibleEditableText" ProxyStubClassId32="{E89F726E-C4F4-4C19-BB19-B647D7FA8478}" NumMethods="10" />
                    <Interface Id="{B70D9F59-3B5A-4DBA-AB9E-22012F607DF5}" Name="IAccessibleAction" ProxyStubClassId32="{E89F726E-C4F4-4C19-BB19-B647D7FA8478}" NumMethods="9" />
                    <Interface Id="{C48C7FCF-4AB5-4056-AFA6-902D6E1D1149}" Name="IAccessibleDocument" ProxyStubClassId32="{E89F726E-C4F4-4C19-BB19-B647D7FA8478}" NumMethods="4" />
                    <Interface Id="{CF64D89F-8287-4B44-8501-A827453A6077}" Name="IAccessibleHypertext2" ProxyStubClassId32="{E89F726E-C4F4-4C19-BB19-B647D7FA8478}" NumMethods="26" />
                    <Interface Id="{D49DED83-5B25-43F4-9B95-93B44595979E}" Name="IAccessibleApplication" ProxyStubClassId32="{E89F726E-C4F4-4C19-BB19-B647D7FA8478}" NumMethods="7" />
                    <Interface Id="{E89F726E-C4F4-4C19-BB19-B647D7FA8478}" Name="IAccessible2" ProxyStubClassId32="{E89F726E-C4F4-4C19-BB19-B647D7FA8478}" NumMethods="46" />
                    <Interface Id="{FE5ABB3D-615E-4F7B-909F-5F0EDA9E8DDE}" Name="IAccessibleImage" ProxyStubClassId32="{E89F726E-C4F4-4C19-BB19-B647D7FA8478}" NumMethods="6" />
                </Component>
                <Component Id="cmp1427447ADD158C20DF5596DF2953BCF0" Guid="{B2A69505-6606-40F8-A46C-D782C2F6B315}">
                    <File Id="filEEAFB068107F92B23FEE8FD1DD536696" KeyPath="yes" Source="SourceDir\icudt52.dll" />
                </Component>
                <Component Id="cmp9924AB88F9463561A63FC39C80B35B16" Guid="{54AFCC84-9BD5-4744-9C4D-52EE5BCD57B0}">
                    <File Id="fil5B8105ABBC30E3DD6C90FC54EB1F41FE" KeyPath="yes" Source="SourceDir\icuin52.dll" />
                </Component>
                <Component Id="cmpA164B9CFAD99DD48D3444D2B18BFD14A" Guid="{D539575A-B9CC-4C7E-81E0-BB425C1673D8}">
                    <File Id="fil248DCB81BF639AF92623523BD3CF0BC2" KeyPath="yes" Source="SourceDir\icuuc52.dll" />
                </Component>
                <Component Id="cmpD3B0621DBDB34D91FDE78C3DC8FAAA23" Guid="{397D8D05-47CE-4178-B10A-D3260AFB45D6}">
                    <File Id="fil995F4EC55B00D10F4F81E1D7A8A73B38" KeyPath="yes" Source="SourceDir\js-gdb.py" />
                </Component>
                <Component Id="cmp1978FD634AB6D9DA1CA0D5C52A1B9D8D" Guid="{58F27E61-34B8-4AAF-8FA8-62843220420A}">
                    <File Id="fil17F59E7BADE139FF4A83407379BBD2E7" KeyPath="yes" Source="SourceDir\js.exe" />
                </Component>
                <Component Id="cmp79E7EB239D82897F8B00C7542F6297D8" Guid="{981A86A7-43C9-4906-93F7-C3C134D17CBF}">
                    <File Id="fil482767FA3173DD7E8E20701B0AA58292" KeyPath="yes" Source="SourceDir\libEGL.dll" />
                </Component>
                <Component Id="cmp6A3196CBE79A2D1544983CDD4242FEAD" Guid="{739F053F-1F22-47AD-A33F-51C7CDE72EC6}">
                    <File Id="filF80DB586558944DAC6F9EEEEBBAD1397" KeyPath="yes" Source="SourceDir\libGLESv2.dll" />
                </Component>
                <Component Id="cmpF88622D930F11997E73AD1CACD59C4D0" Guid="{28C1EA60-297F-46F9-967D-3ECE0F785D69}">
                    <File Id="fil5BB749A90AD1910BED9C699E12DEFD19" KeyPath="yes" Source="SourceDir\LICENSE" />
                </Component>
                <Component Id="cmpCD2AC7B10CF0E2F66CC9E83D8E8F80F2" Guid="{1384DDC8-92C3-431D-ACDB-9A071E81250A}">
                    <File Id="fil11EB1D3D530A3E5EC7AAA3B95A1A886B" KeyPath="yes" Source="SourceDir\mozglue.dll" />
                </Component>
                <Component Id="cmp52CC979C26E97905F37D318F02C9EBFF" Guid="{5D1167A0-7046-4722-98F2-10F8D305D6E3}">
                    <File Id="filB29D99A665CF395C9BA67694B108041A" KeyPath="yes" Source="SourceDir\msvcp120.dll" />
                </Component>
                <Component Id="cmpB35DFAD98D7BDED2567D0F65FB72AE1E" Guid="{FFF3AA91-3D80-4EC8-A070-A9257D6627DB}">
                    <File Id="fil8AB221A918D73626DEA52690972DE418" KeyPath="yes" Source="SourceDir\msvcr120.dll" />
                </Component>
                <Component Id="cmp51FCBA43F12402FDCD14743859E84AE4" Guid="{846F1F4C-C898-40FB-960E-99816633E152}">
                    <File Id="fil99D5CC70791D6B5324ADC67C608442F7" KeyPath="yes" Source="SourceDir\nss3.dll" />
                </Component>
                <Component Id="cmp5109F961DFF443D68E78D0C1DB7AD30F" Guid="{E994C958-8DDA-43BF-A4BF-B7B1DC5104CE}">
                    <File Id="filB414039B469BB567215C1D0E5BCDF613" KeyPath="yes" Source="SourceDir\nssckbi.dll" />
                </Component>
                <Component Id="cmpC57D6F671A831E2CBC2DD800CECC07DC" Guid="{9C76581C-670C-4838-8BF5-A2650F876320}">
                    <File Id="filD8119E34AA788B6283DEF424FCBFFF5B" KeyPath="yes" Source="SourceDir\nssdbm3.chk" />
                </Component>
                <Component Id="cmpEA4B6CD3C2E3CD8DB4ABBEBC2A4E1133" Guid="{F8EA62B8-DDDB-4600-8EB2-8B84C8CA4606}">
                    <File Id="filC1BC409AE3BD4E92F83CBCD841427B75" KeyPath="yes" Source="SourceDir\nssdbm3.dll" />
                </Component>
                <Component Id="cmpF11C969E354453D295C7BA43B915C6B9" Guid="{2A61D6BD-6480-480B-B7BF-4C9065D37013}">
                    <File Id="filEA4A668DC47BA242F739111A709DEB5E" KeyPath="yes" Source="SourceDir\omni.ja" />
                </Component>
                <Component Id="cmp0D0D447C6A35FDC77979BB21EF716B7D" Guid="{AD99B15A-A394-43E3-83ED-C29750D18390}">
                    <File Id="fil626329224875350117FCE0E038737702" KeyPath="yes" Source="SourceDir\platform.ini" />
                </Component>
                <Component Id="cmp7CF49FAB6678F0FB870E934FE4FC771E" Guid="{CC226F93-9D1E-475E-B994-FC02078F526B}">
                    <File Id="fil48276C297DA97DE5BCE7F00C651DE68A" KeyPath="yes" Source="SourceDir\plugin-container.exe" />
                </Component>
                <Component Id="cmp5355C0F153534FFFD776E5D099D3EAF9" Guid="{89B87CBE-2B1C-4CD4-B192-332E4836811B}">
                    <File Id="filA1B6F758B9D5EFD3D1E4FB3491BF510F" KeyPath="yes" Source="SourceDir\plugin-hang-ui.exe" />
                </Component>
                <Component Id="cmpDA213E57A9B3EDB8D58B3A2978670D6F" Guid="{22507886-7E42-4BFA-AAC1-B324E4E75E93}">
                    <File Id="filED1DB1AA5DD8F30A01999B68C89DB1B5" KeyPath="yes" Source="SourceDir\precomplete" />
                </Component>
                <Component Id="cmp601A0E79F201FCAD89473A9FC724C5EB" Guid="{C0C176BC-6713-4372-96B7-E83F9B68BEDA}">
                    <File Id="filCE4C070B8732F65F1AEFBA5CF82CA40F" KeyPath="yes" Source="SourceDir\README.xulrunner" />
                </Component>
                <Component Id="cmp2084668007CC9856F87E5D11AE06913A" Guid="{8213F67F-7303-4208-AC04-032C742988FF}">
                    <File Id="fil8DF77CC4E69956DBFB12EB6E131A5938" KeyPath="yes" Source="SourceDir\redit.exe" />
                </Component>
                <Component Id="cmp676E3EAC2FA00701B25B3F3968B196D5" Guid="{C647DF0F-A543-4B30-88BE-E312B445663C}">
                    <File Id="fil3AFE60DFD5D50A003889407E3B6F68AF" KeyPath="yes" Source="SourceDir\sandboxbroker.dll" />
                </Component>
                <Component Id="cmp029790AF9153D173E923C31779AFC710" Guid="{B3C6AF8E-96E5-4BE2-9117-820542DD0E8E}">
                    <File Id="fil3ED143B794BBF37516FBB223B430BE52" KeyPath="yes" Source="SourceDir\softokn3.chk" />
                </Component>
                <Component Id="cmpF109EF8567FB1320EA35446E2B4F97F8" Guid="{534199B6-0881-440C-AEA5-D7AA9E812CC6}">
                    <File Id="fil0FC52FC7D0A21CBB7A8451F8E8F1B946" KeyPath="yes" Source="SourceDir\softokn3.dll" />
                </Component>
                <Component Id="cmp706FD4162C1C67FDF0312B3B8E38A016" Guid="{AAA93EE4-D403-47E2-85EF-9B0D58960381}">
                    <File Id="fil835501CF42532597941729B9492C3315" KeyPath="yes" Source="SourceDir\updater.exe" />
                </Component>
                <Component Id="cmp7BD8377074398DADF09239F2CC026017" Guid="{7ACB1E71-7665-4A7A-B73E-38C650DFDAD0}">
                    <File Id="fil07082D9DDBA9BF4C2C9FF7EBA3330908" KeyPath="yes" Source="SourceDir\wow_helper.exe" />
                </Component>
                <Component Id="cmp4C024F81D7047C0ED8EC3A0F523BDBB1" Guid="{DDA07D26-23E8-4D5A-BD35-8709C359E778}">
                    <File Id="fil48FFBA4041EB2110363A94FDE91B48A0" KeyPath="yes" Source="SourceDir\xul.dll" />
                </Component>
                <Component Id="cmpE145A487D8CDC322DB67F8D09904A138" Guid="{25C2B686-A25F-4841-B1E4-2B857B2496B5}">
                    <File Id="fil862B87EB339A703C94854BA4C5213274" KeyPath="yes" Source="SourceDir\xulrunner-stub.exe" />
                </Component>
                <Component Id="cmp9FEFFB6992BBC1E09031CFF6DBEC3B87" Guid="{E02C27A9-3BF7-41E9-9AD5-2119A552546D}">
                    <File Id="filD559D0C308F9DD88EA205D0325C7AB54" KeyPath="yes" Source="SourceDir\xulrunner.exe" />
                </Component>
                <Directory Id="dirBAB0AFEE7B3A0B96903BC1E369001545" Name="dictionaries">
                    <Component Id="cmpE6A60419B51EA6622E18A4FA71CC9779" Guid="{BA466CA6-C79C-42A9-903E-0441D1A59F6D}">
                        <File Id="filF7DB73C6B07F871A9A47B4A28DBD5824" KeyPath="yes" Source="SourceDir\dictionaries\en-US.aff" />
                    </Component>
                    <Component Id="cmp30475D0C9DA797EBDB65E24D776BC4A5" Guid="{EB4DCD59-4198-4BBC-942D-AFC34FB8D79B}">
                        <File Id="filB7DD552B3A09728B67E7DF0EDBA6412F" KeyPath="yes" Source="SourceDir\dictionaries\en-US.dic" />
                    </Component>
                </Directory>
                <Directory Id="dirC3F6835844465ABA37E402212DD3F743" Name="gmp-clearkey">
                    <Directory Id="dirBF914ED533575CCD38299C7843F8C624" Name="0.1">
                        <Component Id="cmpCA68803FFBFFA794DDCBFD65D598D362" Guid="{CDAF5060-5C89-4474-864A-374CAE69B9D1}">
                            <File Id="fil7376622BE8C9E30C9B6D0A90D5806C41" KeyPath="yes" Source="SourceDir\gmp-clearkey\0.1\clearkey.dll" />
                        </Component>
                        <Component Id="cmp23B0A9E0BE3016439C9B214775C2AEFD" Guid="{762D8644-B925-472F-AD5A-F97FC3615485}">
                            <File Id="filE96EFB78700BB9BE7685DBDAC39D6D18" KeyPath="yes" Source="SourceDir\gmp-clearkey\0.1\clearkey.info" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dir8E3BBC01A3A42BF9A473018B14C38E5F" Name="gmp-fake">
                    <Directory Id="dirA99A2997803442FEDD2171F1B951FE94" Name="1.0">
                        <Component Id="cmpCC5C66F346CB223F7FC938FC1EB1EC11" Guid="{37125172-EF20-4838-8058-1A1295B3D4A9}">
                            <File Id="filD6E9D1C92197579CFEF79A7FB29FC842" KeyPath="yes" Source="SourceDir\gmp-fake\1.0\fake.dll" />
                        </Component>
                        <Component Id="cmp6C44F83F990C4ECD891135CBE2F44FC6" Guid="{68371AB9-54E9-460F-BDDE-9F87B6934BBA}">
                            <File Id="filCFF66F1F66FFE50B9E36DD1AB94659C3" KeyPath="yes" Source="SourceDir\gmp-fake\1.0\fake.info" />
                        </Component>
                        <Component Id="cmp40C1B9E88A372F59A917395CB61ADABC" Guid="{A3D2CBDD-CD4D-4DDF-8143-349E393079D2}">
                            <File Id="fil500649871F24E9BA7B87C771AEEA514E" KeyPath="yes" Source="SourceDir\gmp-fake\1.0\fake.voucher" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dir6AD0804448374C389C20E54250F1DC8D" Name="gmp-fakeopenh264">
                    <Directory Id="dirBFBE1EB659E4603B9F4F3A8A177B0AF1" Name="1.0">
                        <Component Id="cmp001597FEBAC44C02211C09EFDEA23F69" Guid="{2968BA20-9831-41CC-8D0B-7249FE7B693E}">
                            <File Id="fil8596AC44505C0C4AA8E0A6D1894E0935" KeyPath="yes" Source="SourceDir\gmp-fakeopenh264\1.0\fakeopenh264.dll" />
                        </Component>
                        <Component Id="cmp8D31234100391C49F08EB81D4C0315B0" Guid="{C8DD6337-7C36-4E55-95B1-17B34066E3E1}">
                            <File Id="fil83D055FBDC265B6B99CEE4531A50673C" KeyPath="yes" Source="SourceDir\gmp-fakeopenh264\1.0\fakeopenh264.info" />
                        </Component>
                        <Component Id="cmp627C51C5DC0BB94FA64470636BB930FC" Guid="{EE7D1BD9-A33D-4102-AD6F-D5DEB934F345}">
                            <File Id="filF9DD1EF7E9A4D7823C7D3709249E8AC3" KeyPath="yes" Source="SourceDir\gmp-fakeopenh264\1.0\fakeopenh264.voucher" />
                        </Component>
                    </Directory>
                </Directory>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="XulRunnerComponentGroup">
            <ComponentRef Id="cmpE9B29BB5BD95B37CEB8B31E54520A753" />
            <ComponentRef Id="cmpA6DF9341D936B7ED7A97BFCE4AAB17D1" />
            <ComponentRef Id="cmp86AD362021CFCD07B34703526AD0E772" />
            <ComponentRef Id="cmpE76FAE3CFFB9EEA02D2254FF209669A5" />
            <ComponentRef Id="cmpD7FF896E106B433B86BA7EB8CAA92EE8" />
            <ComponentRef Id="cmp1970AAAE0C264A6544ACF1FE0605C144" />
            <ComponentRef Id="cmpFFE2F3DD32728E458FE770A493FD0D33" />
            <ComponentRef Id="cmp23ACA47CE0AFB192A4F5A5D8C9EA4AB2" />
            <ComponentRef Id="cmp38B9A69D33AA9121E6B8F331EBC2E06B" />
            <ComponentRef Id="cmp22C23809AC8403A5013B012E32A752E5" />
            <ComponentRef Id="cmp1427447ADD158C20DF5596DF2953BCF0" />
            <ComponentRef Id="cmp9924AB88F9463561A63FC39C80B35B16" />
            <ComponentRef Id="cmpA164B9CFAD99DD48D3444D2B18BFD14A" />
            <ComponentRef Id="cmpD3B0621DBDB34D91FDE78C3DC8FAAA23" />
            <ComponentRef Id="cmp1978FD634AB6D9DA1CA0D5C52A1B9D8D" />
            <ComponentRef Id="cmp79E7EB239D82897F8B00C7542F6297D8" />
            <ComponentRef Id="cmp6A3196CBE79A2D1544983CDD4242FEAD" />
            <ComponentRef Id="cmpF88622D930F11997E73AD1CACD59C4D0" />
            <ComponentRef Id="cmpCD2AC7B10CF0E2F66CC9E83D8E8F80F2" />
            <ComponentRef Id="cmp52CC979C26E97905F37D318F02C9EBFF" />
            <ComponentRef Id="cmpB35DFAD98D7BDED2567D0F65FB72AE1E" />
            <ComponentRef Id="cmp51FCBA43F12402FDCD14743859E84AE4" />
            <ComponentRef Id="cmp5109F961DFF443D68E78D0C1DB7AD30F" />
            <ComponentRef Id="cmpC57D6F671A831E2CBC2DD800CECC07DC" />
            <ComponentRef Id="cmpEA4B6CD3C2E3CD8DB4ABBEBC2A4E1133" />
            <ComponentRef Id="cmpF11C969E354453D295C7BA43B915C6B9" />
            <ComponentRef Id="cmp0D0D447C6A35FDC77979BB21EF716B7D" />
            <ComponentRef Id="cmp7CF49FAB6678F0FB870E934FE4FC771E" />
            <ComponentRef Id="cmp5355C0F153534FFFD776E5D099D3EAF9" />
            <ComponentRef Id="cmpDA213E57A9B3EDB8D58B3A2978670D6F" />
            <ComponentRef Id="cmp601A0E79F201FCAD89473A9FC724C5EB" />
            <ComponentRef Id="cmp2084668007CC9856F87E5D11AE06913A" />
            <ComponentRef Id="cmp676E3EAC2FA00701B25B3F3968B196D5" />
            <ComponentRef Id="cmp029790AF9153D173E923C31779AFC710" />
            <ComponentRef Id="cmpF109EF8567FB1320EA35446E2B4F97F8" />
            <ComponentRef Id="cmp706FD4162C1C67FDF0312B3B8E38A016" />
            <ComponentRef Id="cmp7BD8377074398DADF09239F2CC026017" />
            <ComponentRef Id="cmp4C024F81D7047C0ED8EC3A0F523BDBB1" />
            <ComponentRef Id="cmpE145A487D8CDC322DB67F8D09904A138" />
            <ComponentRef Id="cmp9FEFFB6992BBC1E09031CFF6DBEC3B87" />
            <ComponentRef Id="cmpE6A60419B51EA6622E18A4FA71CC9779" />
            <ComponentRef Id="cmp30475D0C9DA797EBDB65E24D776BC4A5" />
            <ComponentRef Id="cmpCA68803FFBFFA794DDCBFD65D598D362" />
            <ComponentRef Id="cmp23B0A9E0BE3016439C9B214775C2AEFD" />
            <ComponentRef Id="cmpCC5C66F346CB223F7FC938FC1EB1EC11" />
            <ComponentRef Id="cmp6C44F83F990C4ECD891135CBE2F44FC6" />
            <ComponentRef Id="cmp40C1B9E88A372F59A917395CB61ADABC" />
            <ComponentRef Id="cmp001597FEBAC44C02211C09EFDEA23F69" />
            <ComponentRef Id="cmp8D31234100391C49F08EB81D4C0315B0" />
            <ComponentRef Id="cmp627C51C5DC0BB94FA64470636BB930FC" />
        </ComponentGroup>
    </Fragment>
</Wix>