<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="XulRunnerInstallFolder">
            <Directory Id="dir2FBA944FAEE0101627FE13A288E2BA73" Name="xulrunner">
                <Component Id="cmpE9B29BB5BD95B37CEB8B31E54520A753" Guid="{44244701-F6BA-462A-93DE-D69C81B023E9}">
                    <File Id="filCB57567E7D1EA177A3317B2D22CE1CDB" KeyPath="yes" Source="SourceDir\AccessibleMarshal.dll">
                        <Class Id="{0D68D6D0-D93D-4D08-A30D-F00DD1F45B24}" Context="InprocServer32" Description="PSFactoryBuffer" ThreadingModel="both" />
                    </File>
                    <Interface Id="{0D68D6D0-D93D-4D08-A30D-F00DD1F45B24}" Name="ISimpleDOMDocument" ProxyStubClassId32="{0D68D6D0-D93D-4D08-A30D-F00DD1F45B24}" NumMethods="9" />
                    <Interface Id="{1814CEEB-49E2-407F-AF99-FA755A7D2607}" Name="ISimpleDOMNode" ProxyStubClassId32="{0D68D6D0-D93D-4D08-A30D-F00DD1F45B24}" NumMethods="18" />
                    <Interface Id="{4E747BE5-2052-4265-8AF0-8ECAD7AAD1C0}" Name="ISimpleDOMText" ProxyStubClassId32="{0D68D6D0-D93D-4D08-A30D-F00DD1F45B24}" NumMethods="8" />
                </Component>
                <Component Id="cmpA6DF9341D936B7ED7A97BFCE4AAB17D1" Guid="{FCBDE229-F3A6-426E-B5BE-CA4867864B80}">
                    <File Id="filA81CF3075A7D3A9A6B4175E8444F258E" KeyPath="yes" Source="SourceDir\breakpadinjector.dll" />
                </Component>
                <Component Id="cmp86AD362021CFCD07B34703526AD0E772" Guid="{86B2C215-7624-42BF-B23C-1D10E25C3BE4}">
                    <File Id="fil2BC485AA820FB5D16D039747DA0FFB2E" KeyPath="yes" Source="SourceDir\crashreporter.exe" />
                </Component>
                <Component Id="cmpE76FAE3CFFB9EEA02D2254FF209669A5" Guid="{240EFED5-3AF9-4B11-BBE4-339EADD82464}">
                    <File Id="fil96EB4ACDE6A231316016A453A6A582D0" KeyPath="yes" Source="SourceDir\crashreporter.ini" />
                </Component>
                <Component Id="cmpD7FF896E106B433B86BA7EB8CAA92EE8" Guid="{6442BEE2-F45E-41C7-8C89-8D2730A72DB1}">
                    <File Id="filC18F7FC065B5B0EE186A633FC568CB65" KeyPath="yes" Source="SourceDir\D3DCompiler_43.dll" />
                </Component>
                <Component Id="cmp1970AAAE0C264A6544ACF1FE0605C144" Guid="{55898712-24B5-4F81-9B6E-7715D247337F}">
                    <File Id="fil606F1F1A450DF73CDFF7041720C87586" KeyPath="yes" Source="SourceDir\d3dcompiler_47.dll" />
                </Component>
                <Component Id="cmpFFE2F3DD32728E458FE770A493FD0D33" Guid="{76B8D613-AAF1-4907-B2B6-C71A9B7AB137}">
                    <File Id="filC82F081BD0E349246CB5E0F19325C2BB" KeyPath="yes" Source="SourceDir\dependentlibs.list" />
                </Component>
                <Component Id="cmp23ACA47CE0AFB192A4F5A5D8C9EA4AB2" Guid="{51934D48-4AE2-4FCA-8AAD-58880A5D8669}">
                    <File Id="fil38734659131A64E93784276C59582DE4" KeyPath="yes" Source="SourceDir\freebl3.chk" />
                </Component>
                <Component Id="cmp38B9A69D33AA9121E6B8F331EBC2E06B" Guid="{A1A18CEC-4E83-4B43-A035-9083DA066C1B}">
                    <File Id="fil7DCA533F8D5F42E99C022225637E8641" KeyPath="yes" Source="SourceDir\freebl3.dll" />
                </Component>
                <Component Id="cmp22C23809AC8403A5013B012E32A752E5" Guid="{A30AA650-D77E-43F0-B843-5D092170D33D}">
                    <File Id="filB866F4B327F5BBACFB4929597D0929E0" KeyPath="yes" Source="SourceDir\IA2Marshal.dll">
                        <Class Id="{E89F726E-C4F4-4C19-BB19-B647D7FA8478}" Context="InprocServer32" Description="PSFactoryBuffer" ThreadingModel="both" />
                    </File>
                    <Interface Id="{01C20F2B-3DD2-400F-949F-AD00BDAB1D41}" Name="IAccessibleHyperlink" ProxyStubClassId32="{E89F726E-C4F4-4C19-BB19-B647D7FA8478}" NumMethods="14" />
                    <Interface Id="{1546D4B0-4C98-4BDA-89AE-9A64748BDDE4}" Name="IAccessibleComponent" ProxyStubClassId32="{E89F726E-C4F4-4C19-BB19-B647D7FA8478}" NumMethods="6" />
                    <Interface Id="{24FD2FFB-3AAD-4A08-8335-A3AD89C0FB4B}" Name="IAccessibleText" ProxyStubClassId32="{E89F726E-C4F4-4C19-BB19-B647D7FA8478}" NumMethods="22" />
                    <Interface Id="{35855B5B-C566-4FD0-A7B1-E65465600394}" Name="IAccessibleValue" ProxyStubClassId32="{E89F726E-C4F4-4C19-BB19-B647D7FA8478}" NumMethods="7" />
                    <Interface Id="{35AD8070-C20C-4FB4-B094-F4F7275DD469}" Name="IAccessibleTable" ProxyStubClassId32="{E89F726E-C4F4-4C19-BB19-B647D7FA8478}" NumMethods="32" />
                    <Interface Id="{594116B1-C99F-4847-AD06-0A7A86ECE645}" Name="IAccessibleTableCell" ProxyStubClassId32="{E89F726E-C4F4-4C19-BB19-B647D7FA8478}" NumMethods="12" />
                    <Interface Id="{6167F295-06F0-4CDD-A1FA-02E25153D869}" Name="IAccessibleTable2" ProxyStubClassId32="{E89F726E-C4F4-4C19-BB19-B647D7FA8478}" NumMethods="23" />
                    <Interface Id="{6B4F8BBF-F1F2-418A-B35E-A195BC4103B9}" Name="IAccessibleHypertext" ProxyStubClassId32="{E89F726E-C4F4-4C19-BB19-B647D7FA8478}" NumMethods="25" />
                    <Interface Id="{6C9430E9-299D-4E6F-BD01-A82A1E88D3FF}" Name="IAccessible2_2" ProxyStubClassId32="{E89F726E-C4F4-4C19-BB19-B647D7FA8478}" NumMethods="49" />
                    <Interface Id="{7CDF86EE-C3DA-496A-BDA4-281B336E1FDC}" Name="IAccessibleRelation" ProxyStubClassId32="{E89F726E-C4F4-4C19-BB19-B647D7FA8478}" NumMethods="8" />
                    <Interface Id="{9690A9CC-5C80-4DF5-852E-2D5AE4189A54}" Name="IAccessibleText2" ProxyStubClassId32="{E89F726E-C4F4-4C19-BB19-B647D7FA8478}" NumMethods="23" />
                    <Interface Id="{A59AA09A-7011-4B65-939D-32B1FB5547E3}" Name="IAccessibleEditableText" ProxyStubClassId32="{E89F726E-C4F4-4C19-BB19-B647D7FA8478}" NumMethods="10" />
                    <Interface Id="{B70D9F59-3B5A-4DBA-AB9E-22012F607DF5}" Name="IAccessibleAction" ProxyStubClassId32="{E89F726E-C4F4-4C19-BB19-B647D7FA8478}" NumMethods="9" />
                    <Interface Id="{C48C7FCF-4AB5-4056-AFA6-902D6E1D1149}" Name="IAccessibleDocument" ProxyStubClassId32="{E89F726E-C4F4-4C19-BB19-B647D7FA8478}" NumMethods="4" />
                    <Interface Id="{CF64D89F-8287-4B44-8501-A827453A6077}" Name="IAccessibleHypertext2" ProxyStubClassId32="{E89F726E-C4F4-4C19-BB19-B647D7FA8478}" NumMethods="26" />
                    <Interface Id="{D49DED83-5B25-43F4-9B95-93B44595979E}" Name="IAccessibleApplication" ProxyStubClassId32="{E89F726E-C4F4-4C19-BB19-B647D7FA8478}" NumMethods="7" />
                    <Interface Id="{E89F726E-C4F4-4C19-BB19-B647D7FA8478}" Name="IAccessible2" ProxyStubClassId32="{E89F726E-C4F4-4C19-BB19-B647D7FA8478}" NumMethods="46" />
                    <Interface Id="{FE5ABB3D-615E-4F7B-909F-5F0EDA9E8DDE}" Name="IAccessibleImage" ProxyStubClassId32="{E89F726E-C4F4-4C19-BB19-B647D7FA8478}" NumMethods="6" />
                </Component>
                <Component Id="cmp1427447ADD158C20DF5596DF2953BCF0" Guid="{3E19306A-C13A-44D0-ACC0-4BB474E6E07A}">
                    <File Id="filEEAFB068107F92B23FEE8FD1DD536696" KeyPath="yes" Source="SourceDir\icudt52.dll" />
                </Component>
                <Component Id="cmp9924AB88F9463561A63FC39C80B35B16" Guid="{28BDB0CE-74DE-4B7A-A793-8604FB2E5B01}">
                    <File Id="fil5B8105ABBC30E3DD6C90FC54EB1F41FE" KeyPath="yes" Source="SourceDir\icuin52.dll" />
                </Component>
                <Component Id="cmpA164B9CFAD99DD48D3444D2B18BFD14A" Guid="{ADF58BAC-2B5F-441F-87D1-4FA8C9732E73}">
                    <File Id="fil248DCB81BF639AF92623523BD3CF0BC2" KeyPath="yes" Source="SourceDir\icuuc52.dll" />
                </Component>
                <Component Id="cmpD3B0621DBDB34D91FDE78C3DC8FAAA23" Guid="{46D40AF3-9AB2-4CE8-B9F6-0CAC090A81DA}">
                    <File Id="fil995F4EC55B00D10F4F81E1D7A8A73B38" KeyPath="yes" Source="SourceDir\js-gdb.py" />
                </Component>
                <Component Id="cmp1978FD634AB6D9DA1CA0D5C52A1B9D8D" Guid="{00B3F258-A2EA-4866-9E82-CFAAAB8B4FE2}">
                    <File Id="fil17F59E7BADE139FF4A83407379BBD2E7" KeyPath="yes" Source="SourceDir\js.exe" />
                </Component>
                <Component Id="cmp79E7EB239D82897F8B00C7542F6297D8" Guid="{9CCEA7ED-FD11-4749-B90E-3085AF9FB711}">
                    <File Id="fil482767FA3173DD7E8E20701B0AA58292" KeyPath="yes" Source="SourceDir\libEGL.dll" />
                </Component>
                <Component Id="cmp6A3196CBE79A2D1544983CDD4242FEAD" Guid="{0D875876-200F-460F-BA52-7A0285F43993}">
                    <File Id="filF80DB586558944DAC6F9EEEEBBAD1397" KeyPath="yes" Source="SourceDir\libGLESv2.dll" />
                </Component>
                <Component Id="cmpF88622D930F11997E73AD1CACD59C4D0" Guid="{360ABFC8-1C68-4F05-8D30-45562A1F91D4}">
                    <File Id="fil5BB749A90AD1910BED9C699E12DEFD19" KeyPath="yes" Source="SourceDir\LICENSE" />
                </Component>
                <Component Id="cmpCD2AC7B10CF0E2F66CC9E83D8E8F80F2" Guid="{1457D5EB-B48F-4382-939F-B23256F5EF6F}">
                    <File Id="fil11EB1D3D530A3E5EC7AAA3B95A1A886B" KeyPath="yes" Source="SourceDir\mozglue.dll" />
                </Component>
                <Component Id="cmp52CC979C26E97905F37D318F02C9EBFF" Guid="{6106BE1B-89E7-48E3-9B4F-A3BDC2466098}">
                    <File Id="filB29D99A665CF395C9BA67694B108041A" KeyPath="yes" Source="SourceDir\msvcp120.dll" />
                </Component>
                <Component Id="cmpB35DFAD98D7BDED2567D0F65FB72AE1E" Guid="{3D9A14AA-0669-4E5D-8D9B-ABD37C5C3970}">
                    <File Id="fil8AB221A918D73626DEA52690972DE418" KeyPath="yes" Source="SourceDir\msvcr120.dll" />
                </Component>
                <Component Id="cmp51FCBA43F12402FDCD14743859E84AE4" Guid="{E2CC664D-CFE5-44A8-8765-1E3E52315E44}">
                    <File Id="fil99D5CC70791D6B5324ADC67C608442F7" KeyPath="yes" Source="SourceDir\nss3.dll" />
                </Component>
                <Component Id="cmp5109F961DFF443D68E78D0C1DB7AD30F" Guid="{D630A1B2-4FBC-4F57-AA9D-679E23C9EEE9}">
                    <File Id="filB414039B469BB567215C1D0E5BCDF613" KeyPath="yes" Source="SourceDir\nssckbi.dll" />
                </Component>
                <Component Id="cmpC57D6F671A831E2CBC2DD800CECC07DC" Guid="{52AB24EB-B209-4150-B5C9-6D07854CD4ED}">
                    <File Id="filD8119E34AA788B6283DEF424FCBFFF5B" KeyPath="yes" Source="SourceDir\nssdbm3.chk" />
                </Component>
                <Component Id="cmpEA4B6CD3C2E3CD8DB4ABBEBC2A4E1133" Guid="{DBBD5090-D849-40B7-A5AE-8F2A2BC4E020}">
                    <File Id="filC1BC409AE3BD4E92F83CBCD841427B75" KeyPath="yes" Source="SourceDir\nssdbm3.dll" />
                </Component>
                <Component Id="cmpF11C969E354453D295C7BA43B915C6B9" Guid="{51448B1C-3221-4095-BA35-C88ECFCB45DC}">
                    <File Id="filEA4A668DC47BA242F739111A709DEB5E" KeyPath="yes" Source="SourceDir\omni.ja" />
                </Component>
                <Component Id="cmp0D0D447C6A35FDC77979BB21EF716B7D" Guid="{8ACC31F9-F828-4DC6-80E8-B3B3BD46FB52}">
                    <File Id="fil626329224875350117FCE0E038737702" KeyPath="yes" Source="SourceDir\platform.ini" />
                </Component>
                <Component Id="cmp7CF49FAB6678F0FB870E934FE4FC771E" Guid="{1A7827F6-A011-4116-BFDF-C97D77C1ACDE}">
                    <File Id="fil48276C297DA97DE5BCE7F00C651DE68A" KeyPath="yes" Source="SourceDir\plugin-container.exe" />
                </Component>
                <Component Id="cmp5355C0F153534FFFD776E5D099D3EAF9" Guid="{37BFAC8D-6900-41EE-96C4-EB8BAF63DD2F}">
                    <File Id="filA1B6F758B9D5EFD3D1E4FB3491BF510F" KeyPath="yes" Source="SourceDir\plugin-hang-ui.exe" />
                </Component>
                <Component Id="cmpDA213E57A9B3EDB8D58B3A2978670D6F" Guid="{CBFD92BC-EFFB-42F0-84BF-00A8088CE74D}">
                    <File Id="filED1DB1AA5DD8F30A01999B68C89DB1B5" KeyPath="yes" Source="SourceDir\precomplete" />
                </Component>
                <Component Id="cmp601A0E79F201FCAD89473A9FC724C5EB" Guid="{D4FEF49C-7130-4B04-B201-C39D6BAD931E}">
                    <File Id="filCE4C070B8732F65F1AEFBA5CF82CA40F" KeyPath="yes" Source="SourceDir\README.xulrunner" />
                </Component>
                <Component Id="cmp2084668007CC9856F87E5D11AE06913A" Guid="{D5FA66B4-0926-40D9-A2D2-AD161959398B}">
                    <File Id="fil8DF77CC4E69956DBFB12EB6E131A5938" KeyPath="yes" Source="SourceDir\redit.exe" />
                </Component>
                <Component Id="cmp676E3EAC2FA00701B25B3F3968B196D5" Guid="{23604E0E-0BA5-433B-A1F3-79A54A899BDF}">
                    <File Id="fil3AFE60DFD5D50A003889407E3B6F68AF" KeyPath="yes" Source="SourceDir\sandboxbroker.dll" />
                </Component>
                <Component Id="cmp029790AF9153D173E923C31779AFC710" Guid="{888B6BC2-03F7-4773-97C5-9F0198758A28}">
                    <File Id="fil3ED143B794BBF37516FBB223B430BE52" KeyPath="yes" Source="SourceDir\softokn3.chk" />
                </Component>
                <Component Id="cmpF109EF8567FB1320EA35446E2B4F97F8" Guid="{B19177FE-300D-4804-BAB4-A202242C9C1E}">
                    <File Id="fil0FC52FC7D0A21CBB7A8451F8E8F1B946" KeyPath="yes" Source="SourceDir\softokn3.dll" />
                </Component>
                <Component Id="cmp706FD4162C1C67FDF0312B3B8E38A016" Guid="{FE6CDFF9-14A3-41C6-8DE9-C6362BAC3373}">
                    <File Id="fil835501CF42532597941729B9492C3315" KeyPath="yes" Source="SourceDir\updater.exe" />
                </Component>
                <Component Id="cmp7BD8377074398DADF09239F2CC026017" Guid="{FC5EF5C4-C73A-4D01-9645-EDCD0F087B99}">
                    <File Id="fil07082D9DDBA9BF4C2C9FF7EBA3330908" KeyPath="yes" Source="SourceDir\wow_helper.exe" />
                </Component>
                <Component Id="cmp4C024F81D7047C0ED8EC3A0F523BDBB1" Guid="{26DD323E-D7D8-4196-B000-530200141FA6}">
                    <File Id="fil48FFBA4041EB2110363A94FDE91B48A0" KeyPath="yes" Source="SourceDir\xul.dll" />
                </Component>
                <Component Id="cmpE145A487D8CDC322DB67F8D09904A138" Guid="{E5E8BD4D-B7CD-4071-8CF1-A1AAD1EC0BC7}">
                    <File Id="fil862B87EB339A703C94854BA4C5213274" KeyPath="yes" Source="SourceDir\xulrunner-stub.exe" />
                </Component>
                <Component Id="cmp9FEFFB6992BBC1E09031CFF6DBEC3B87" Guid="{7AE383D3-FCB2-459C-96A8-B46A90AF1B0E}">
                    <File Id="filD559D0C308F9DD88EA205D0325C7AB54" KeyPath="yes" Source="SourceDir\xulrunner.exe" />
                </Component>
                <Directory Id="dirBAB0AFEE7B3A0B96903BC1E369001545" Name="dictionaries">
                    <Component Id="cmpE6A60419B51EA6622E18A4FA71CC9779" Guid="{859F268B-C925-46B6-9F21-2360F9A01853}">
                        <File Id="filF7DB73C6B07F871A9A47B4A28DBD5824" KeyPath="yes" Source="SourceDir\dictionaries\en-US.aff" />
                    </Component>
                    <Component Id="cmp30475D0C9DA797EBDB65E24D776BC4A5" Guid="{51D8D35C-FC81-4346-8F4D-769FBC3FD65D}">
                        <File Id="filB7DD552B3A09728B67E7DF0EDBA6412F" KeyPath="yes" Source="SourceDir\dictionaries\en-US.dic" />
                    </Component>
                </Directory>
                <Directory Id="dirC3F6835844465ABA37E402212DD3F743" Name="gmp-clearkey">
                    <Directory Id="dirBF914ED533575CCD38299C7843F8C624" Name="0.1">
                        <Component Id="cmpCA68803FFBFFA794DDCBFD65D598D362" Guid="{D6E88977-63F1-4C68-9924-E8121C5CA376}">
                            <File Id="fil7376622BE8C9E30C9B6D0A90D5806C41" KeyPath="yes" Source="SourceDir\gmp-clearkey\0.1\clearkey.dll" />
                        </Component>
                        <Component Id="cmp23B0A9E0BE3016439C9B214775C2AEFD" Guid="{7D1894A0-6F22-4422-A0EA-E603DAA7CE64}">
                            <File Id="filE96EFB78700BB9BE7685DBDAC39D6D18" KeyPath="yes" Source="SourceDir\gmp-clearkey\0.1\clearkey.info" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dir8E3BBC01A3A42BF9A473018B14C38E5F" Name="gmp-fake">
                    <Directory Id="dirA99A2997803442FEDD2171F1B951FE94" Name="1.0">
                        <Component Id="cmpCC5C66F346CB223F7FC938FC1EB1EC11" Guid="{C213E9E2-B387-4C87-AF6D-A831A82F2497}">
                            <File Id="filD6E9D1C92197579CFEF79A7FB29FC842" KeyPath="yes" Source="SourceDir\gmp-fake\1.0\fake.dll" />
                        </Component>
                        <Component Id="cmp6C44F83F990C4ECD891135CBE2F44FC6" Guid="{F2807509-A365-4F13-BFB7-A670579B0419}">
                            <File Id="filCFF66F1F66FFE50B9E36DD1AB94659C3" KeyPath="yes" Source="SourceDir\gmp-fake\1.0\fake.info" />
                        </Component>
                        <Component Id="cmp40C1B9E88A372F59A917395CB61ADABC" Guid="{40E8C563-7D3C-4BD3-83C6-F20C57F1220B}">
                            <File Id="fil500649871F24E9BA7B87C771AEEA514E" KeyPath="yes" Source="SourceDir\gmp-fake\1.0\fake.voucher" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dir6AD0804448374C389C20E54250F1DC8D" Name="gmp-fakeopenh264">
                    <Directory Id="dirBFBE1EB659E4603B9F4F3A8A177B0AF1" Name="1.0">
                        <Component Id="cmp001597FEBAC44C02211C09EFDEA23F69" Guid="{B026EFB2-0C28-48DA-9701-8E7D4A1DF537}">
                            <File Id="fil8596AC44505C0C4AA8E0A6D1894E0935" KeyPath="yes" Source="SourceDir\gmp-fakeopenh264\1.0\fakeopenh264.dll" />
                        </Component>
                        <Component Id="cmp8D31234100391C49F08EB81D4C0315B0" Guid="{71AE566F-FC23-4954-851E-3C4DAB8540EA}">
                            <File Id="fil83D055FBDC265B6B99CEE4531A50673C" KeyPath="yes" Source="SourceDir\gmp-fakeopenh264\1.0\fakeopenh264.info" />
                        </Component>
                        <Component Id="cmp627C51C5DC0BB94FA64470636BB930FC" Guid="{EE91C806-45FE-4F37-84F2-64B15F9C3B6D}">
                            <File Id="filF9DD1EF7E9A4D7823C7D3709249E8AC3" KeyPath="yes" Source="SourceDir\gmp-fakeopenh264\1.0\fakeopenh264.voucher" />
                        </Component>
                    </Directory>
                </Directory>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="XulRunnerComponentGroup">
            <ComponentRef Id="cmpE9B29BB5BD95B37CEB8B31E54520A753" />
            <ComponentRef Id="cmpA6DF9341D936B7ED7A97BFCE4AAB17D1" />
            <ComponentRef Id="cmp86AD362021CFCD07B34703526AD0E772" />
            <ComponentRef Id="cmpE76FAE3CFFB9EEA02D2254FF209669A5" />
            <ComponentRef Id="cmpD7FF896E106B433B86BA7EB8CAA92EE8" />
            <ComponentRef Id="cmp1970AAAE0C264A6544ACF1FE0605C144" />
            <ComponentRef Id="cmpFFE2F3DD32728E458FE770A493FD0D33" />
            <ComponentRef Id="cmp23ACA47CE0AFB192A4F5A5D8C9EA4AB2" />
            <ComponentRef Id="cmp38B9A69D33AA9121E6B8F331EBC2E06B" />
            <ComponentRef Id="cmp22C23809AC8403A5013B012E32A752E5" />
            <ComponentRef Id="cmp1427447ADD158C20DF5596DF2953BCF0" />
            <ComponentRef Id="cmp9924AB88F9463561A63FC39C80B35B16" />
            <ComponentRef Id="cmpA164B9CFAD99DD48D3444D2B18BFD14A" />
            <ComponentRef Id="cmpD3B0621DBDB34D91FDE78C3DC8FAAA23" />
            <ComponentRef Id="cmp1978FD634AB6D9DA1CA0D5C52A1B9D8D" />
            <ComponentRef Id="cmp79E7EB239D82897F8B00C7542F6297D8" />
            <ComponentRef Id="cmp6A3196CBE79A2D1544983CDD4242FEAD" />
            <ComponentRef Id="cmpF88622D930F11997E73AD1CACD59C4D0" />
            <ComponentRef Id="cmpCD2AC7B10CF0E2F66CC9E83D8E8F80F2" />
            <ComponentRef Id="cmp52CC979C26E97905F37D318F02C9EBFF" />
            <ComponentRef Id="cmpB35DFAD98D7BDED2567D0F65FB72AE1E" />
            <ComponentRef Id="cmp51FCBA43F12402FDCD14743859E84AE4" />
            <ComponentRef Id="cmp5109F961DFF443D68E78D0C1DB7AD30F" />
            <ComponentRef Id="cmpC57D6F671A831E2CBC2DD800CECC07DC" />
            <ComponentRef Id="cmpEA4B6CD3C2E3CD8DB4ABBEBC2A4E1133" />
            <ComponentRef Id="cmpF11C969E354453D295C7BA43B915C6B9" />
            <ComponentRef Id="cmp0D0D447C6A35FDC77979BB21EF716B7D" />
            <ComponentRef Id="cmp7CF49FAB6678F0FB870E934FE4FC771E" />
            <ComponentRef Id="cmp5355C0F153534FFFD776E5D099D3EAF9" />
            <ComponentRef Id="cmpDA213E57A9B3EDB8D58B3A2978670D6F" />
            <ComponentRef Id="cmp601A0E79F201FCAD89473A9FC724C5EB" />
            <ComponentRef Id="cmp2084668007CC9856F87E5D11AE06913A" />
            <ComponentRef Id="cmp676E3EAC2FA00701B25B3F3968B196D5" />
            <ComponentRef Id="cmp029790AF9153D173E923C31779AFC710" />
            <ComponentRef Id="cmpF109EF8567FB1320EA35446E2B4F97F8" />
            <ComponentRef Id="cmp706FD4162C1C67FDF0312B3B8E38A016" />
            <ComponentRef Id="cmp7BD8377074398DADF09239F2CC026017" />
            <ComponentRef Id="cmp4C024F81D7047C0ED8EC3A0F523BDBB1" />
            <ComponentRef Id="cmpE145A487D8CDC322DB67F8D09904A138" />
            <ComponentRef Id="cmp9FEFFB6992BBC1E09031CFF6DBEC3B87" />
            <ComponentRef Id="cmpE6A60419B51EA6622E18A4FA71CC9779" />
            <ComponentRef Id="cmp30475D0C9DA797EBDB65E24D776BC4A5" />
            <ComponentRef Id="cmpCA68803FFBFFA794DDCBFD65D598D362" />
            <ComponentRef Id="cmp23B0A9E0BE3016439C9B214775C2AEFD" />
            <ComponentRef Id="cmpCC5C66F346CB223F7FC938FC1EB1EC11" />
            <ComponentRef Id="cmp6C44F83F990C4ECD891135CBE2F44FC6" />
            <ComponentRef Id="cmp40C1B9E88A372F59A917395CB61ADABC" />
            <ComponentRef Id="cmp001597FEBAC44C02211C09EFDEA23F69" />
            <ComponentRef Id="cmp8D31234100391C49F08EB81D4C0315B0" />
            <ComponentRef Id="cmp627C51C5DC0BB94FA64470636BB930FC" />
        </ComponentGroup>
    </Fragment>
</Wix>