<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="SEBSettingsGroup">
      <section name="SEBSettings" type="SebWindowsClient.ConfigurationUtils.SEBConfigurationSection,SebWindowsClient" allowLocation="true" allowDefinition="Everywhere"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="VSDContext" connectionString="metadata=res://*/DAL.VSDModel.csdl|res://*/DAL.VSDModel.ssdl|res://*/DAL.VSDModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=vmcredo.bfh.ch,55783;Initial Catalog=VSDProject;User=VSDUser;Password=VSDPassword;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>


  <SEBSettingsGroup>
    <SEBSettings>
      <RegistryValues EnableSwitchUser="0" EnableLockThisComputer="0" EnableChangeAPassword="0" EnableStartTaskManager="0" EnableLogOff="0" EnableShutDown="0" EnableEaseOfAccess="0" EnableVmWareClientShade="0">
      </RegistryValues>
      <SecurityOptions AllowVirtualMachine="0" ForceWindowsService="0" CreateNewDesktop="1" ShowSebApplicationChooser="1" HookMessages="1" EditRegistry="1" MonitorProcesses="0" ShutdownAfterAutostartProcessTerminates="0">
      </SecurityOptions>
      <OnlineExam>
        <SebBrowser>
          <add key="Seb" path="../xulrunner/xulrunner.exe"/>
          <add key="ini" path="../xul_seb/application.ini"/>
        </SebBrowser>
        <AutostartProcess key="Seb" path=""/>
        <ExamUrl>
          <add key="Seb" path="http://www.safeexambrowser.org/"/>
        </ExamUrl>
        <PermittedApplications>
          <add key="Calculator" path="calc.exe"/>
          <add key="Notepad" path="notepad.exe"/>
        </PermittedApplications>
      </OnlineExam>
      <OtherOptions>
        <WriteLogFileSebStarterLog>1</WriteLogFileSebStarterLog>
        <HookDll>MsgHook.dll</HookDll>
        <Win9xKillExplorer>1</Win9xKillExplorer>
        <Win9xScreenSaverRunning>0</Win9xScreenSaverRunning>
        <StrongKillProcessesBefore>notepad,OUTLOOK</StrongKillProcessesBefore>
        <CreateNewDesktop>1</CreateNewDesktop>
      </OtherOptions>
    </SEBSettings>
  </SEBSettingsGroup>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>

  <system.serviceModel>
    <diagnostics wmiProviderEnabled="true">
      <messageLogging maxMessagesToLog="30000"
              logEntireMessage="true"
              logMessagesAtServiceLevel="true"
              logMalformedMessages="true"
              logMessagesAtTransportLevel="true">
      </messageLogging>
    </diagnostics>
  </system.serviceModel>

  <system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <source name="System.ServiceModel" switchValue="All, ActivityTracing" >
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging" switchValue="All">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="RuntimeService.svclog" />
    </sharedListeners>

  </system.diagnostics>

</configuration>
